* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

html {
  font-size:13px;
  font-family:"Barlow Semi Condensed";
}

body {
  width:1440px;
  margin-top:163px;
  margin-bottom:163px;
  background:hsl(210, 46%, 95%);
}

.container {
  display:grid;
  width:1115px;
  height:576px;
  margin-left:auto;
  margin-right:auto;
  grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px;
  grid-template-rows: 282px 25px 1fr;
  column-gap:30px;
  row-gap:25px;

}

h2 {
  color:hsl(0, 0%, 100%);
  font-weight:500;
  font-size:20px;
   position:relative;
  top:-10px;
}




.daniel {
  display:grid;
  grid-area: 1 / 1 / 2 / 5;
  background:hsl(263, 55%, 52%);
  border-radius:10px;
  text-align:left;
  padding:30px;
  min-width:0;
  min-height:0;
  background-image:url("https://assets.codepen.io/11868974/bg-pattern-quotation.svg");
  background-repeat:no-repeat;
  background-position:79.5% 0%;
  
}
  


.profile {
  position:relative;
  left:20px;
  display:flex;
  flex-direction:column;
  align-self:center;
  align-items:left;
  justify-content:left;
  text-direction:left;
  
  
  
}


.profile-pic-1 {
   border-radius:20px;
  width:30px;
  height:30px;
  border:hsl(263, 5%, 62%) 3px solid;
}


.profile-pic-2 {
   border-radius:20px;
  width:30px;
  height:30px;
  border:inherit 3px solid;
}

.profile-pic-3 {
   border-radius:20px;
  width:30px;
  height:30px;
  border:inherit 3px solid;
   position:relative;
  top:-5px;
}

.profile-pic-4 {
   border-radius:20px;
  width:30px;
  height:30px;
  border:hsl(263, 35%, 42%) 3px solid;
}



.profile-info {
  color:white;
  align-self:center;
  
}

.profile-all {
  display:inline-flex;
  flex-direction:row;
  justify-content:left;
  align-self:center;
  position:relative;
  top:-5px;
}


.text-whole {
   position:relative;
  top:-10px;
 
  
}

.text-whole-2 {
  position:relative;
  top:-3px;
  font-size:13px;
   font-family:"Barlow Semi Condensed";
}

p {
  font-size:13.5px;
  color:hsl(0, 0%, 81%);
  font-family:"Barlow Semi Condensed";
  font-weight:400;
  opacity:80%;
line-height:1.4rem;
  
  
}

.verified {
  color:hsl(0, 0%, 100%);
  opacity:50%;
  font-size:11px;
  position:relative;
  top:-3px;
 
}

.white {
  color:hsl(0, 0%, 100%);
  opacity:110%;
 
}

.jon {
  display:grid;
  grid-area: 1 / 5 / 2 / 7;
  gap:30px;
  background:hsl(217, 19%, 35%);
  border-radius:10px;
  padding:30px;
  
  

}

.text {
  position:relative;
  top:-15px;
}

.jon-profile {
  position:relative;
  left:20px;
  display:flex;
  flex-direction:column;
  align-self:center;
  align-items:left;
  justify-content:left;
  text-direction:left;
  
  
}

.profile-pic {
  border-radius:20px;
  width:30px;
  height:30px;
  border:silver 3px solid;
}

.jon-info {
  color:white;
  align-self:center;
}

.jon-all {
  display:inline-flex;
  flex-direction:row;
  justify-content:left;
  align-self:center;
}














  


.jean {
  display:flex;
  flex-direction:column;
  grid-area: 2 / 1 / 4 / 3 ;
  background:hsl(0, 0%, 100%);
  border-radius:10px;
  min-width:0;
  min-height:0;
  padding:30px;
   box-shadow: 0 10px 66px rgba(0, 0, 0, 0.05);
}

.jean-pic {
  width:25%;
  height:25%;

  
}

.black {
  color:black;
  flex-direction:row;

}


.kira {
  display:grid;
  grid-area: 1 / 7 / 4 / 9;
  justify-content:center;
  align-items:center;
  background:white;
  border-radius:10px;
  padding:30px;
  box-shadow: 0 10px 66px rgba(0, 0, 0, 0.05);
}


/* Jean and Kira*/

.profile-all-2 {
 display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:center;
  text-direction:left;
  
}




.profile-all {
  display:inline-flex;
  flex-direction:row;
  justify-content:left;
  align-self:center;
}

.profile-2-jean {
  display:inline-flex;
  flex-direction:column;
  position:relative;
  color:black;
  left:-17px;
}

.profile-pic-jean {
  border-radius:20px;
  width:30px;
  height:30px;
  border:inherit 3px solid;
  position:relative;
  left:-35px;
  top:-7px;
  display:flex;
  align-items:center;
  justify-content:center;
}



.black-2 {
  color:hsl(217, 19%, 35%);
  font-size:13.5px;
  font-family:"Barlow Semi Condensed";
  font-weight:400;
  opacity:80%;
  line-height:1.4rem;
   position:relative;
  top:-7px;
}



.black {
 color:hsl(217, 19%, 35%);
  font-weight:600;
  font-size:21px;
   position:relative;
  top:-12px;
}

.profile-all-2 {
  display:inline-flex;
  flex-direction:row;
  justify-content:left;
  align-self:center;
}


.white-2 {
  color:black;
   position:relative;
  top:-7px;
  font-weight:500;
}


.verified-2 {
  color:hsl(217, 19%, 35%);
  opacity:60%;
  font-size:11px;
  position:relative;
  top:-10px;
}


.profile-all-kira{
display:inline-flex;
  flex-direction:row;
  justify-content:left;
  align-self:center;
}


.profile-2-kira {
  position:relative;
  left:20px;
}






.pat {
  display:grid;
  grid-area: 2 / 3 / 4 / 7;
  background:hsl(219, 29%, 14%);
  color:white;
  border-radius:10px;
  padding:30px;
  
  
}




@media (max-width:575px) {
  
  
  
  html {
    width:auto;
    margin-left:auto;
    margin-right:auto;
  }
  
  
  
  body {
    width:375px;
    margin:0 auto;
    padding:0 auto;
    margin-top:70px;
    height:100%;
    min-height:150vh;
  }
  
  .container {
  width:330px;
  height:1966px;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr 70px;
  gap:30px;
 
  
}
  
  
  .daniel {
  display:grid;
  grid-area:1 / 1 / 2 / 1;
  background:hsl(263, 55%, 52%);
  border-radius:10px;
  text-align:left;
  padding:33px;
  width:325px;
  height:445px;
  background-image:url("https://assets.codepen.io/11868974/bg-pattern-quotation.svg");
  background-repeat:no-repeat;
  background-position:79.5% 0%;
  
}
  
  .jon {
  display:grid;
  grid-area: 2 / 1 / 3 / 2;
  background:hsl(217, 19%, 35%);
  border-radius:10px;
  padding:33px;
    width:330px;
  height:240px;
  }
    
    
    .jean {
  display:grid;
  grid-area: 3 / 1 / 3 / 2 ;
  background:hsl(0, 0%, 100%);
  border-radius:10px;
  min-width:0;
  min-height:0;
  padding:33px;
 box-shadow: 0 10px 66px rgba(0, 0, 0, 0.15);
  width:325px;
  height:240px;
}
  
  
  .pat {
  display:grid;
  grid-area: 4 / 1 / 4 / 2;
  background:hsl(219, 29%, 14%);
  color:white;
  border-radius:10px;
  padding:33.5px;
      width:325px;
  height:390px;
  
  
  
  
}
  
  
  
  .kira {
  display:grid;
  grid-area: 5 / 1 / 6 / 2;
  justify-content:center;
  align-items:center;
  background:white;
  border-radius:10px;
  padding:32px;
  box-shadow: 0 10px 66px rgba(0, 0, 0, 0.15);
  width:330px;
  height:445px;

}
  
  
  .black {
    font-size:20px;
  }
  
  .black-2 {
   
  }
  
  .profile-2-jean {
  display:inline-flex;
  flex-direction:column;
  position:relative;
  color:black;
  left:17px;
}
  
  
  .profile-pic-jean {
  border-radius:20px;
  width:30px;
  height:30px;
  border:inherit 3px solid;
  position:relative;
  left:0px;
  top:-7px;
  display:flex;
  align-items:center;
  justify-content:center;
}




